body {
    padding: 8px;
    background-color: rgb(160, 159, 157);
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 20px 40px;
}
div {
    text-align: center;
    background-color: rgba(219, 214, 214, 0.692);
    border-radius: 5px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day {
    background-color: rgb(224, 189, 144);
    font-family: cursive;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.61);
}
.date {
    font-family: monospace;
    font-size: 30px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.747);
}
.datebeforeafter {
    background-color: rgba(219, 214, 214, 0.432);
    font-family: monospace;
    font-size: 26px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.438);
}


/*------------- media query -------------*/
@media only screen and (max-width: 720px) {
    body {
        gap: 20px 10px;
        padding-top: 20px;
    }
    div {
        height: 73px;
    }
}
